body {
    background-color: #f2f5f5;
}

.top{
    background-color: #121e29;
    padding: 10px 0;
}

.top-bar {
    color: white;
    font-size: 10px;
}

.top-bar a{
    color:white;
    text-decoration: none;
}

.top-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-bar li{
    display: inline;
    margin-right: 5px;
}

.home-bar ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.home-bar li{
    display: inline;
    margin-right: 0px;
}

.back{
    background: #345578;
    background: linear-gradient(to bottom, #345578 1%,#101a24 100%);
    color: white;
    margin-top: 10px;
}

.word a{
    text-decoration: none;
    color: white;
}

.word ul{
    list-style: none;
}

.word p{
    margin: 0 0 15px;
}

.btn1 {
    border-radius: 5px;
    background-color: #bd8142;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    float: left;
    clear: left;
}

.btn2 {
    border-radius: 5px;
    background-color: #b86240;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    float: left;
    clear: left;
}

.btn3 {
    border-radius: 5px;
    background-color: #ba435b;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    float: left;
    clear: left;
}

.bot{
    list-style: none;
    padding: 0;
    margin: 0;
}


.word1 p{
    margin: 0 0 15px;
}

.word1 h3{
    margin: 55px 0 15px;
}

.word2 ul{
    list-style: none;
}

.word2 li{
    margin: 45px 0 10px;
}

.pic {
    float: left;
    clear: left;
}

.pic1{
    font-size: 48px;
    float: left;
    clear: left;
    color: #bd8142;
    
}

.pic2{
    font-size: 48px;
    float: left;
    clear: left;
    color: #b86240;
    
}

.pic3{
    font-size: 48px;
    float: left;
    clear: left;
    color: #ba435b;
    
}

.pic ul{
    list-style: none;
}

.footer{
    background: #091014;
    color: white;
    padding: 20px 0;
}

.btn{
    background-color: #121e29;
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a.btn:hover{
    text-decoration: none;
    background-color: #fa8100;
    color: white;
}
